@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap');

body {
    font-family: 'Montserrat',
    sans-serif;
  background: var(--mainGrey) !important;
  color: var(--mainBlack);
}